<div class="student-page">

    <!-- Barra superior -->
    <header class="top-bar">
        <h1 class="title">Bienvenido E1234</h1>
        <button class="btn-logout" (click)="logout()">Cerrar Sesión</button>
    </header>

    <!-- Contenido principal -->
    <main class="student-main">
        <section class="card-courses">
            <h2 class="subtitle">Cursos:</h2>

            <div class="courses-row">
                <button class="course-btn" routerLink="/cursos-horizontal/notas-alumno">Álgebra</button>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer class="footer">
        © Derechos Reservados - 2025
    </footer>
</div>
