<div class="dashboard-page">

    <!-- Barra superior -->
    <header class="top-bar">
        <h1 class="welcome-text">Gestión de Cursos</h1>
    </header>

    <!-- Contenido principal -->
    <main class="dashboard-main">
        <section class="card-menu">

            <table class="courses-table">
                <thead>
                    <tr>
                        <th>Nombre Curso</th>
                        <th>Ver</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Algebra</td>
                        <td>
                            <button class="icon-btn icon-grey" routerLink="/admin/gestion-cursos/lista-alumnos">👁</button>
                        </td>
                    </tr>
                </tbody>
            </table>


        </section>
    </main>

    <!-- Footer -->
    <footer class="footer">
        © Derechos Reservados - 2025
    </footer>

</div>
